/*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: #b94a48;
}

/* Make drop down menus show on hover */
@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.parentrow .sign:after {
    content: "\2b";
    color: #c7c2c2;
    font-size: 1.2em;
    font-weight: 400;
    display: inline-block;
}

.childContent {
    display: none
}

.parentrow.expand .sign:after {
    content: "\2212";
}

.logTable tbody tr:nth-child(4n+1), .logTable tbody tr:nth-child(4n+2) {
    background: #F9F9F9;
}

.traffic-red {
    color: #d9534f;
}

.traffic-yellow {
    color: #f0ad4e;
}

.traffic-green {
    color: #5cb85c;
}

.loading-indicator {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-indicator::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

td.actions {
    text-align: center;
}

th.actions {
    text-align: center;
}

a[aria-expanded=true] .fa-chevron-right {
    display: none;
}

a[aria-expanded=false] .fa-chevron-down {
    display: none;
}
